.Main{
    padding-bottom: 98px;
    background-color: #f8f8f8;
    &-title{
        font-family: $textMain;
        font-size: 100px;
        color: #787878;
        text-transform: uppercase;
        letter-spacing: -3px
    }
    &-text{
        font-size: 37px;
        font-family: $text;
        font-weight: 300;
        margin-top: 20px;
        color: #6f6f6f;
        padding-bottom: 77px;
        border-bottom: 1px solid  #c9c9c9;
    }
}
.Naturopathy{
    &-title{
        font-weight: 700;
        font-size: 28px;
        font-family: $text;
        color:#595959;
        margin-top: 81px;
        padding-bottom: 31px;
        border-bottom: 1px solid #c9c9c9;
        text-transform: uppercase;
    }
    &-subTitle{
        font-size: 15px;
        font-family: $text;
        color: #656464;
        text-transform: uppercase;
        margin-top: 38px;
        margin-bottom: 17px; 
    }
    &-text{
        color: #9a9a9a;
        font-size: 14px;
        font-family: $text;
        font-weight: 300;
        margin-bottom: 31px;
    }
    &-btn{
        font-size: 16px;
        font-family: $text;
        padding: 10px 26px;
        background: #4d4d4d;
        color: $white;
        text-decoration: none;
        border-radius: 7px;
        &:hover{
            color: $white;
            background:#f67570;
            text-decoration: none;
            transition: all 0.3s ease;
        }
    }
} 

.News{

    &-wrapperRow{
        display: flex;
        flex-direction: row;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &-title{
        font-size: 28px;
        font-weight: 700;
        font-family: $text;
        color:#595959;
        margin-top: 81px;
        padding-bottom: 31px;
        border-bottom: 1px solid#c9c9c9;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &-day{
        font-size: 36px;
        font-family: $text;
        color:#363636;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &-month{
        display: block;
        font-size: 18px;
        font-family: $text;
        color:#747474;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &-subtitle{
        font-size: 14px;
        font-family: $text;
        color:#62d03a;
        text-transform: uppercase;
        margin-bottom: 17px;
    }
    &-text{
        color: #9a9a9a;
        font-size: 14px;
        font-family: $text;
        font-weight: 300;
        margin-bottom: 31px;
    }
    &-btn{
        padding: 10px 26px;
        background: #62d03a;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-family: $text;
        border-radius: 7px;
        &:hover{
            color: $white;
            background: #4d4d4d;
            text-decoration: none;
            transition: all 0.3s ease;
        }
    }
    
}

.Links{
    padding-top: 68px;
    padding-bottom: 30px;

    &-title{
        font-size: 28px;
        font-weight: 700;
        font-family: $text;
        color: #595959;
        text-transform: uppercase;
    }
    &-list{
        list-style: none;
        padding-left: 0;
        margin-bottom: 31px;
    }

    &-item{
        margin-bottom: 8px;
        i{
            font-size: 10px;
        }
    }

    &-link{
        font-size: 14px;
        font-weight: 300;
        font-family: $text;
        color:#4bb624;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 12px;
        &:hover{
            color: $black;
            transition: all 0.3s ease;
            text-decoration: none;
        }
    }
}

.Principles{
    padding: 20px 73px 36px;
    border: 1px solid #d2d2d2;
    &-title{
        font-size: 28px;
        font-weight: 700;
        font-family: $text;
        color:#595959;
        padding-bottom: 31px;
        border-bottom: 1px solid #c9c9c9;
        text-transform: uppercase;
        text-align: center;
        margin-top: 32px;
    }
    &-wrapperRow{
        display: flex;
        flex-direction: row;
        margin-top: 19px;
        border-bottom: 1px solid #c9c9c9;
        padding-bottom: 37px;
        margin-bottom: 27px;
    }
    &-wrapperColumn{
        display: flex;
        flex-direction: column;
        margin-right: 12px;
    }
    &-image{
        margin-bottom: 17px;
    }
    &-titlebox{
        color: #3b3b3b;
        font-size: 14px;
        font-weight: 300;
        font-family: $text;
    }
    &-text{
        color:#9a9a9a;
        font-size: 14px;
        font-weight: 300;
        font-family: $text;
    }
    &-btn{
        font-size: 15px;
        font-family: $text;
        color:#62d03a;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            color:$black;
            text-decoration: none;
            transition: all 0.3s ease;
        }
    }
}